body {
    display: block;
    font-family: sans-serif;
}

#map {
    height: 400px;
    width: 75%;
}

h1 {
    /* border: pink solid 1pt; */
}

p {
    font-size: 1.2rem;
}

#report {
    font-weight: bold;
    color: blue;
}

form {
    /* border: pink solid 1pt; */
    margin: 0;
}

input {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

#index {
    max-width: 2rem;
}

button {
    /* border:pink solid 1pt; */
    /* border-radius: 0.5rem; */
    border: none;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 0.7rem;
    background-color: rgb(228, 225, 225);
}

button:hover {
    cursor: pointer;
}
