body {
    display: block;
    font-family: sans-serif;
}

#directionsTable {
    width: 640px;
    height: fit-content;
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #f0efef;
    text-align: left;
    padding: 0.3rem;
}

tr:nth-child(even) {
    background-color: #f0efef;
}


#map {
    /* border: 1px hotpink solid; */
    height: 400px;
    width: 640px;
}

#directionsPanel {
    width: 640px;
    font-size: 0.7rem;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

#report {
    font-weight: bold;
    color: rgb(0, 0, 164);
}

.wrapper, .route-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

input {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

#index {
    max-width: 2rem;
}

button {
    /* border: solid coral 1px; */
    border:none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    padding: 0.3rem 0.7rem;
    background-color: rgb(200, 200, 240);
}

button:hover {
    cursor: pointer;
    background-color: rgb(150, 150, 240);
}

@media print {
    .wrapper, button, #map {
        display: none;
    }

    /* .route-info, #map, #directionsPanel {
        visibility: visible;
    } */
}